body {
  font-family: Baskerville !important;
}

#logo {
  width: 30%
}

.nav-item a {
  font-family: Baskerville !important;
  font-size: larger;

}

.industries-dropdown, .capabilities-dropdown{
  column-count: 3;
  margin-bottom: 20px;    
}

.about-dropdown{
  width: 250% !important;
  margin-bottom: 20px;
}

.industries-dropdown li, .capabilities-dropdown li{
  padding: 2%;
}

.dropdown-menu{
    border-radius: 0 !important;
  
}

a{
  
    text-decoration: none;
    color: unset; 

}

@media (max-width: 992px) {
  .industries-dropdown, .capabilities-dropdown, about-dropdown{
      column-count: 1;
      padding: 0%;
      width: 100% !important;
      overflow: hidden;
      font-size: x-small;
      
  }
  .logo{
    font-size: medium;
  }


  .nav-item a {
    font-size: medium;
  
  }

 .dropdown-item{
    padding: 0%;
    width: 100% !important;
    overflow: hidden;
    font-size: medium !important;
  
  } 

}