body {
  
  font-family: Baskerville !important;
}

#logo {
  width: 30%
}

.dropdown-menu {
  background-color: #9BC8F7 !important;
  font-size: small !important;
  }

.nav-item{
  padding:2%;
  text-align: center;
}
.nav-item a {
  font-family: Baskerville !important;
  font-size: medium !important;
  color: white;

}

.nav-item a:hover, a:focus, a:active {
  color:#4C8DCF!important;
  background-color: white;
  

  /* font-size: x-large; */
}

.active{
  color:#4C8DCF!important;
  background-color: white;
}

.industries-dropdown, .capabilities-dropdown{
  column-count: 3;
  margin-bottom: 16px;
}

.about-dropdown{
  width: 250%;
}


.industries-dropdown li, .capabilities-dropdown li{
  padding: 2%;
}

.dropdown-menu{
    border-radius: 0 !important;
  
}

.dropdown-second-item{
  font-size: small;
    text-decoration: none;
    color: unset; 

}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* Ensure the navbar is above other content */
}

/* about */
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(250 131 33 / 42%) 50%, rgb(250, 131, 33) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:60%;
  transform:translate(-50%, -50%);
}

.card{
  border-radius: 0% !important;
  border: none !important;
  margin-bottom: 0 !important;
  padding-bottom: 10px;
}

.card-body{
  width: 95%;
  text-align: center;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@media (max-width: 992px) {
  .industries-dropdown, .capabilities-dropdown, .about-dropdown{
      column-count: 1;
      padding: 0%;
      width: 100% !important;
      overflow: hidden;
      font-size: x-small;
      
  }

  .dropdown-menu{
    background-color: #9BC8F7 !important;
  }
  .navbar-nav{
    background-color:#4C8DCF !important;
    
  }
  .navbar-nav li{
    text-align: left;
  }

  .logo{
    font-size: medium !important;
    margin-top: -1% !important;
  }


  .nav-item a {
    font-size: small;
  
  }

 .dropdown-item{
    padding: 0%;
    width: 100% !important;
    overflow: hidden;
    font-size: small !important;
  
  } 

}




