{% extends 'base.html' %}
{% load static %}



 {% block content %}
 <style>
  .serve{
    padding: 1%;
    color: white !important;
    font-size: 11vmin;
    font-weight: bold;
  }
  #businesses{
    padding-bottom: .5%;
  }

  @keyframes textChange {
    0% {
      content: "Agriculture";
  }
  6.67% {
      content: "Auto, EV & Power Systems";
  }
  13.33% {
      content: "CG & Apparel";
  }
  20% {
      content: "Education";
  }
  26.67% {
      content: "Energy";
  }
  33.33% {
      content: "Industrial";
  }
  40% {
      content: "Metals & Mining";
  }
  46.67% {
      content: "Oil & Gas";
  }
  53.33% {
      content: "PI & PE";
  }
  60% {
      content: "Real Estate";
  }
  66.67% {
      content: "Retail";
  }
  73.33% {
      content: "Communications";
  }
  80% {
      content: "Travel & Tourism";
  }
  86.67% {
      content: "Logistics";
  }
  93.33% {
      content: "BUSINESSES";
  }
  100% {
      content: "BUSINESSES";
  }
}

#businesses::before {
    content: "Agriculture";
    animation: textChange 5s steps(15, end) forwards;
}



.mv{
  background-image: url({%static 'mission.png' %});
  background-size:100% 100%; 
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fade {
  margin: 50px;
  padding: 50px;
  background-color: lightgreen;
  transition: opacity 0.7s ease-in;
}

.centered-div {
  opacity: 0; /* Initially set opacity to 0 */
  width: 80%;
  height: auto;
  margin: 10% auto; /* Center the element */
  padding: 2%;
  background: #f58870;
  color: white;
  border-radius: 2%;
  transition: opacity 0.7s ease, transform 0.7s ease; /* Add transition for smooth fade-in/out and transform */
  transform: translateY(50px); /* Initially move the element down by 50 pixels */
}

.fadeIn {
  opacity: 85% !important; /* Ensure fade-in class overrides opacity */
  transform: translateY(0); /* Move the element back to its original position */
}

.fadeOut {
  opacity: 0 !important; /* Ensure fade-out class overrides opacity */
  transform: translateY(50px); /* Move the element down by 50 pixels to hide */
}


@keyframes scroll {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.scrolling-text {
  opacity: 0;
  transform: scale(0.5) translateY(-300px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scrolling-text.visible {
  animation: bounceIn 1s forwards;
  opacity:1;
  transform: scale(1) translateY(0); 
}

.counts{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color:#FD2D00;
  font-weight: bold;
 
  padding:2%;
}
.value{
  font-size: 6em;
}
.value2{
  font-size: 1.5em;
  color:#f58870;
}

@media (max-width: 992px) {
  .counts{
    grid-template-columns: none; 
      grid-template-rows: 1fr 1fr 1fr;
      
  }
}
</style>

<div>  
  <div class="main" style="background-color: #FD2D00;">
    <div class="serve">WE</div>
    <div class="serve">SERVE</div>
    <div class="serve" id="businesses"></div>
  </div>
  
  <div class="counts">
    <div>
    <div class="value">100</div>
    <div class="value2">Highly skilled and spirited professionals</div>
    </div>
    <div>
    <div class="value">100</div>
    <div class="value2">Projects Successfully Delivered Last Year</div>
    </div>
    <div>
    <div class="value">100</div>
    <div class="value2">Key Industries</div>
    </div>
  </div>

  <div class="main scrolling-text" style="background-color: #121020;text-align: center;">
    <div style="color:#FD2D00; font-size: 1.5em; font-weight: bold; padding-top: 2.5%;">ABOUT</div>
    <div style="color: white; font-size: 3em; padding: 4%; text-align: center;"><b>We provide wise guidance to clients and partners!</b></div>
    <div style="color:white; font-size: 1.5em; padding-left:2%; padding-right: 2%; padding-bottom:3%; font-style: italic;">We aspire to help clients thrive, on their terms, so that they can enable their shareholders, employees, communities and partners to flourish.</div>
  </div>

</div>

<script>
  function animateValue(obj, start, end, duration) {
    let startTimestamp = null;
    const step = (timestamp) => {
      if (!startTimestamp) startTimestamp = timestamp;
      const progress = Math.min((timestamp - startTimestamp) / duration, 1);
      obj.innerHTML = Math.floor(progress * (end - start) + start);
      if (progress < 1) {
        window.requestAnimationFrame(step);
      }
    };
    window.requestAnimationFrame(step);
  }
  
  const obj = document.getElementsByClassName("value");
  for(var i=0; i < obj.length; i++){
    animateValue(obj[i], 0, 100, 5000);
  }

  const observerOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.7
  };
  
  function observerCallback(entries, observer) {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        // fade in observed elements that are in view
        entry.target.classList.add('fadeIn');
        entry.target.classList.remove('fadeOut');
      } else {
        // fade out observed elements that are not in view
        entry.target.classList.add('fadeOut');
        entry.target.classList.remove('fadeIn');
      }
    });
  }
  




    document.addEventListener("DOMContentLoaded", function() {
        const mainElement = document.querySelector('.scrolling-text');

        function checkVisibility() {
          const rect = mainElement.getBoundingClientRect();
          const windowHeight = (window.innerHeight || document.documentElement.clientHeight);

          // Check if the bottom of the element is in the viewport
          if (rect.bottom <= windowHeight && rect.bottom >= 0) {
              mainElement.classList.add('visible');
              window.removeEventListener('scroll', checkVisibility);
          }
      }

      function onScroll() {
          checkVisibility();
      }

      window.addEventListener('scroll', onScroll);

      // Initial check in case the element is already in view after a slight delay
      setTimeout(checkVisibility, 100);
  });


  
</script>
{% endblock  %}