{% extends 'base.html' %}
{% load static %}



 {% block content %}

 <style>
  body{
    overflow-x: hidden;
  }
  .serve{
    padding: 1%;
    color: white !important;
    font-size: 11vmin;
    font-weight: bold;
  }
  #businesses{
    padding-bottom: .5%;
  }

  @keyframes textChange {
    0% {
      content: "Agriculture";
  }
  6.67% {
      content: "Auto, EV & Power Systems";
  }
  13.33% {
      content: "CG & Apparel";
  }
  20% {
      content: "Education";
  }
  26.67% {
      content: "Energy";
  }
  33.33% {
      content: "Industrial";
  }
  40% {
      content: "Metals & Mining";
  }
  46.67% {
      content: "Oil & Gas";
  }
  53.33% {
      content: "PI & PE";
  }
  60% {
      content: "Real Estate";
  }
  66.67% {
      content: "Retail";
  }
  73.33% {
      content: "Communications";
  }
  80% {
      content: "Travel & Tourism";
  }
  86.67% {
      content: "Logistics";
  }
  93.33% {
      content: "BUSINESSES";
  }
  100% {
      content: "BUSINESSES";
  }
}


#businesses::before {
    content: "Agriculture";
    animation: textChange 5s steps(15, end) forwards;
}

.fade {
  margin: 50px;
  padding: 50px;
  background-color: lightgreen;
  transition: opacity 0.7s ease-in;
}

.centered-div {
  opacity: 0; /* Initially set opacity to 0 */
  width: 80%;
  height: auto;
  margin: 10% auto; /* Center the element */
  padding: 2%;
  background: #9BC8F7;
  color: white;
  border-radius: 2%;
  transition: opacity 0.7s ease, transform 0.7s ease; /* Add transition for smooth fade-in/out and transform */
  transform: translateY(50px); /* Initially move the element down by 50 pixels */
}

.fadeIn {
  opacity: 85% !important; /* Ensure fade-in class overrides opacity */
  transform: translateY(0); /* Move the element back to its original position */
}

.fadeOut {
  opacity: 0 !important; /* Ensure fade-out class overrides opacity */
  transform: translateY(50px); /* Move the element down by 50 pixels to hide */
}


@keyframes scroll {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.scrolling-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.scrolling-left.visible {
  opacity: 1;
  transform: translateX(0);
}



.counts{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color:#4C8DCF;
  font-weight: bold;
 
  padding:2%;
}
.team, .industry, .projects{
  font-size: 6em;
}
.value2{
  font-size: 1.5em;
  color:#9BC8F7;
}

.ourvalues{
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}


.innervalues {
  margin:2%;
  border: 1px;
  align-items: center;
  background-color: #121020;
  border-radius: 4px;
  border-width: 0;
  padding:5%;
  padding-top:10% !important;
  text-align: center;
  font-size: 1.2em;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#464648 0 -3px 0 inset;
  box-sizing: border-box;
  color: #9BC8F7;
  cursor: pointer;
  justify-content: center;
}
.scrolling-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.scrolling-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.clients{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
.clients-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding:2% 5% 2% 5%;
  gap:5%;
}

.ian{
  display: grid;
  grid-template-columns: 0.75fr 1.5fr;
}

.team2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.team3{
  padding-left: 2%;
  display: grid;
  grid-template-columns: 1.5fr 0.75fr 0.75fr 1.5fr;
  column-gap: 5%;
}

.barb, .balkirt{
  display: grid;
  grid-template-columns: 0.75fr 1.5fr;
}

@media (max-width: 992px) {
  .team2{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
  .team3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .ian{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
  .counts{
    grid-template-columns: none; 
      grid-template-rows: 1fr 1fr 1fr;
      
  }
  .ourvalues{
    grid-template-columns: none; 
      grid-template-rows: 1fr 1fr;
  }
  .clients{
    grid-template-rows: none;
  }
  .clients-info{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10%;
    padding:10%;
    margin-bottom: 2%;
  }
}

@media(max-width: 500px){
  .main{
    margin-top: 15% !important;
  }
}

@media(max-width: 600px) and (min-width:500px){
  .main{
    margin-top: 10% !important;
  }
}
</style>

<div>  
  <div class="main" style="background-color: #4C8DCF; margin-top: 5%;">
    <div class="serve">WE</div>
    <div class="serve">SERVE</div>
    <div class="serve" id="businesses"></div>
  </div>
  
  <div class="counts">
    <div>
    <div class="team">5</div>
    <div class="value2">Highly skilled and spirited professionals</div>
    </div>
    <div>
    <div class="projects">120</div>
    <div class="value2">Projects Successfully Delivered Last Year</div>
    </div>
    <div>
    <div class="industry">5</div>
    <div class="value2">Key Industries</div>
    </div>
  </div>
  <div class="main scrolling-left" style="background-color: #121020;text-align: center;">
    <div style="color:#4C8DCF; font-size: 1.5em; font-weight: bold; padding-top: 2.5%;" id="about">ABOUT US</div>
    <div style="color: white; font-size: 3em; padding: 4%; text-align: center;"><b>We provide wise guidance to clients and partners!</b></div>
    <div style="color:white; font-size: 1.5em; padding-left:2%; padding-right: 2%; padding-bottom:3%; font-style: italic;">We aspire to help clients thrive, on their terms, so that they can enable their shareholders, employees, communities and partners to flourish.</div>
  </div>

  <div class="ourvalues" style=" background-color: #ece7e9;">
<div style="padding:10%; margin-left: 10%;">
  <p style="color:#4C8DCF; font-size:2.5em;"><b>What are our values?</b></p>
  <p style="padding-top: 3%; font-size: 1.2em; font-style: italic;">Our organization thrives on a foundation of core principles that inspire and 
    propel us forward. These guiding beliefs steer our actions and define our relationships with clients,
     partners, and each other.</p>
</div>
<div class="ourvalues">
  <div class="innervalues" style="margin:10% ">
      <img src="{%static 'empathy.png'%}"/><p></p>
      <p><b>EMPATHY</b></p>
   
      <p>We assist as if it was "us or ours"</p>
  </div>
  <div class="innervalues" style="margin:10% ">
    <img src="{%static 'hardwork.png'%}"/><p></p>
    <p><b>HARD WORK</b></p>   
    <p>We work hard for you and with you.  Period.</p>
        
  </div>
</div>
  </div>
<div class="ourvalues" style=" background-color: #ece7e9;">
<div class="innervalues" style="margin:10% ">
  <img src="{%static 'partnership.png'%}"/><p></p>
      <p><b>PARTNERSHIP</b></p>   
      <p>We devise fee structures that ensure alignment including equity or other benefits-sharing arrangements.</p>


</div>
<div style="padding:10%; margin-left: 2%;">
  <p style="color:#4C8DCF; font-size:2.5em;"><b>WE ARE MAKERS</b></p>
  <p style="padding-top: 3%; font-size: 1.2em; font-style: italic;">
    We believe in avoiding mundanity.</p>
    <p style="font-size: 1.2em; font-style: italic;">
   We pursue business as a creative and positive growth endeavor.
  </p>
</div>

</div>
<div>
<div style="color:#4C8DCF; font-size: 1.5em; font-weight: bold; padding-top: 2.5%; text-align: center;" id="team">MEET OUR TEAM</div>
<div class="ian">
  <div>
    <img src="{%static 'ian.jpg'%}" style="height: 100%; width: 100%; padding:5%"/>
  </div>


  <div style="color:#121020c7">
    <div class="name" style="padding: 5% 0% 0% 5%; font-weight: 650; font-size: 1.65em;">
      Robert Ian (Bob) Angell
    </div>
    <div class="role" style="padding: 0% 0% 0% 5%; font-weight: 400; font-size: 1.35em; font-style: italic;">
      Founder and Chair
    </div>
    <div style="padding: 5% 8% 0% 5%; font-style: oblique;">
      <p>Robert Ian (Bob) Angell realized that the world of financial and growth strategies was a hot 
        mess while working for a big international corporation. Seeking to make it easier for companies 
        worldwide to make sense of data, he set on a mission to change the world of strategic advisory and consulting</p>
        <p>
          Bob was initially just one man with a laptop and a desire to make people understand financial strategy better and make more informed choices in their investments. Quickly, what was meant to be a side project grew into a viable business with a handful of employees. At first, Bob's main focus was financial analysis, mergers and acquisitions, and investment advice, but slowly the team grew and could focus more on projects 
          requiring intellectual property protection and defence and organic and inorganic growth for the companies.
        </p>
    </div>
  </div>
</div>
</div>
<div class="team2">
  <div class="barb">
    <div>
      <img src="{%static 'barb.jpg'%}" style="height: 85%; width: 100%; padding:5%"/>
    </div>
    <div style="color:#121020c7">
      <div class="name" style="padding: 5% 0% 0% 5%; font-weight: 650; font-size: 1.35em;">
      Barb Angell
      </div>
      <div class="role" style="padding: 0% 0% 0% 5%; font-weight: 400; font-size: 1.05em; font-style: italic;">
        CFO, Financial Expert
      </div>
      <div style="padding: 5% 8% 0% 5%; font-style: oblique;">
        <p>Barb is an experienced investment and financial expert with a proven track record in guiding clients toward lucrative opportunities and sound fiscal decisions. Exceptional analytical 
          skills and deep market knowledge ensure tailored strategies, maximizing returns and fostering long-term financial success.
          </p>
      </div>
    </div>

  </div>
  <div class="balkirt">
    <div>
      <img src="{%static 'balkirat.jpg'%}" style="height: 85%; width: 100%; padding:5%"/>
    </div>
    <div style="color:#121020c7">
      <div class="name" style="padding: 5% 0% 0% 5%; font-weight: 650; font-size: 1.35em;">
        Balkirat (Barry) Bhue
      </div>
      <div class="role" style="padding: 0% 0% 0% 5%; font-weight: 400; font-size: 1.05em; font-style: italic;">
        Intellectual Property Expert and IP Lead
      </div>
      <div style="padding: 5% 8% 0% 5%; font-style: oblique;">
        <p>Balkirat is our in-house technical expert with more than a decade's worth of IP consulting expertise. 
          He collaborates with the R&D teams and 3rd-party partners to integrate patent strategy seamlessly into their 
          technical offerings, ensuring a holistic solution for clients.
        </p>
      </div>
    </div>
  </div>
</div
</div>

<div class="team3">
  <div style="color:#121020c7; text-align: right;">
    <div class="name" style="padding: 5% 0% 0% 5%; font-weight: 650; font-size: 1.35em;">
      Anjali Kukreja
    </div>
    <div class="role" style="padding: 0% 0% 0% 5%; font-weight: 400; font-size: 1.05em; font-style: italic;">
      Systems and Process Specialist
    </div>
  </div>
  <div>
    <img src="{%static 'user.png'%}" style="height: 100%; width: 100%; padding:5%"/>
  </div>
  <div>
    <img src="{%static 'user.png'%}" style="height: 100%; width: 100%; padding:5%"/>
  </div>
  <div style="color:#121020c7; text-align: left; margin-left: -8%;">
    <div class="name" style="padding: 5% 0% 0% 5%; font-weight: 650; font-size: 1.35em;">
    Gurleen Kaur
    </div>
    <div class="role" style="padding: 0% 0% 0% 5%; font-weight: 400; font-size: 1.05em; font-style: italic;">
      Software Engineer
    </div>
  </div>
</div>

  <div class="scrolling-right" style="background-color: #121020;text-align: center;" id="purpose">
    {% comment %} <div style="color:#4C8DCF; font-size: 1.5em; font-weight: bold; padding-top: 2.5%;">OUR STORY</div> {% endcomment %}
    <div style="color: white; font-size: 2em; padding: 4%; text-align: center;"><b>We exist to assist organizations, firms and individuals achieve outstanding performance - on terms they define!!!</b></div>
    <div style="color:white; font-size: 1.5em; padding-left:2%; padding-right: 2%; padding-bottom:3%; font-style: italic;">BAC Insights, also known legally as Bob Angell Consulting Ltd., is the business, advisory and investment vehicle for Ian, Barb Angell and friends.  The firm was established to encapsulate years of knowledge and experience, to provide advice, and, where needed and helpful, to back up that advice with investment.</div>
  </div>

  <div class="" style="text-align: center; align-items: center; ">
    <div style="color:#4C8DCF; font-size: 1.5em; font-weight: bold; padding-top: 2.5%;" id="clients">OUR CLIENTS</div>

<div class="clients">
  <div class="clients-info">
    <div style="box-shadow: #968ba7 0px 3px 8px;">

      <a href="https://www.hankypanky.com/" cursor="pointer" target="_blank" ><img src="{%static 'hankypanky.jpeg'%}" style="width: 60%; height: 85%; text-align: center;"/></a>
    </div>
    <div style="box-shadow: #00c8dc7a 0px 3px 8px; padding:8%">
      <a href="https://www.blueforceenergy.ca/" cursor="pointer" target="_blank" >
      <img src="{%static 'blueforce.png'%}" style="width: 60%; height: 70%; text-align: center;"/>
      </a>
    </div>
    <div style="box-shadow: #00008B 0px 3px 8px;">
      <a href="https://www.rubberstonepaving.ca/" cursor="pointer" target="_blank" >      
      <img src="{%static 'rubberstone.png'%}" style="width: 45%; height: 55%; text-align: center;"/>
      </a>
    </div>
  </div>
  <div class="clients-info">
    <div style="color:#6C8E67; margin-right: 2%; padding:2%; box-shadow: #6C8E67 0px 3px 8px;">
      <span style="font-weight: bolder;">
        <img src="{%static 'industry.png'%}" style="height: 15%; width: 6%; margin-top: -2%;"/>&nbsp;&nbsp;Building Products<br>
      </span>
      <span style=" font-weight: bolder;">
        <img src="{%static 'location.png'%}" style="height: 10%; width: 6%; margin-left: -8%;"/>&nbsp;BC, Canada</span><br>
        <div style="text-align: left !important">
          Aided a BC-based building products manufacturer and distributor in the assessment of strategic options including sale preparation, 
          valuation, IM preparation , sale process management, and the selection of sale options.
        </div>
    </div>
    <div style="color:#5E5E5E; margin-right: 2%; padding:4%; box-shadow: #5E5E5E 0px 3px 8px;">
      <span style="font-weight: bolder;">
        <img src="{%static 'industry.png'%}" style="height: 15%; width: 6%; margin-top: -2%;"/>&nbsp;&nbsp;Law intellectual Property Firm<br>
      </span>
      <span style=" font-weight: bolder;">
        <img src="{%static 'location.png'%}" style="height: 10%; width: 6%; margin-left: -8%;"/>&nbsp;USA</span><br>
        <div style="text-align: left;">
          Conducted technical and procedural support for intellectual property cases in the IT sector where 
          specific and detailed knowledge of code, software and related technical details are critical.
        </div>
    </div>
    <div style="color:#91B475; margin-right: 2%; padding:2%; box-shadow: #91B475 0px 3px 8px; margin-bottom: 2%;">
      <span style="font-weight: bolder;">
        <img src="{%static 'industry.png'%}" style="height: 15%; width: 6%; margin-top: -2%;"/>&nbsp;&nbsp;Agricultural Services<br>
      </span>
      <span style=" font-weight: bolder;">
        <img src="{%static 'location.png'%}" style="height: 10%; width: 6%; margin-left: -8%;"/>&nbsp;BC, Canada</span><br>
        <div style="text-align: left;">
          Guided a BC-headquartered agricultural services company with operations across Western Canada to complete a merger 
          and define a forward strategy aimed at building a leading player in agricultural services and select equipment supply.
        </div>
    </div>
   
  </div>  
  <div class="clients-info">

    <div style="color:#F19C20; margin-right: 2%; padding:2%; box-shadow: #F19C20 0px 3px 8px;">
      <span style="font-weight: bolder;">
        <img src="{%static 'industry.png'%}" style="height: 15%; width: 6%; margin-top: -2%;"/>&nbsp;&nbsp;Energy<br>
      </span>
      <span style=" font-weight: bolder;">
        <img src="{%static 'location.png'%}" style="height: 10%; width: 6%; margin-left: -8%;"/>&nbsp;Malaysia</span><br>
        <div style="text-align: left;">
          Assisted a Malaysian based energy company explore options for financing Canadian operations.
        </div>
    </div>
    <div style="color:#3F51B5; margin-right: 2%; padding:2%; box-shadow: #3F51B5 0px 3px 8px;">
      <span style="font-weight: bolder;">
        <img src="{%static 'industry.png'%}" style="height: 15%; width: 6%; margin-top: -2%;"/>&nbsp;&nbsp;Global Leadership Organization<br>
      </span>
      <span style=" font-weight: bolder;">
        <img src="{%static 'location.png'%}" style="height: 10%; width: 6%; margin-left: -8%;"/>&nbsp;Canada</span><br>
        <div style="text-align: left;">
          In support of a new management team, helped chart a new strategy for a global 
          leadership Not-for-Profit including scope, structure, systems and leadership development.
        </div>
    </div>
    <div style="color:#D32F2F; margin-right: 2%; padding:2%; box-shadow: #D32F2F 0px 3px 8px;">
      <span style="font-weight: bolder;">
        <img src="{%static 'industry.png'%}" style="height: 15%; width: 6%; margin-top: -2%;"/>&nbsp;&nbsp;Apparel and Promotions<br>
      </span>
      <span style=" font-weight: bolder;">
        <img src="{%static 'location.png'%}" style="height: 10%; width: 6%; margin-left: -8%;"/>&nbsp;BC, Canada</span><br>
        <div style="text-align: left;">
          Conducted a valuation and financing options analysis.
        </div>
    </div>
  </div>
</div>

      </div>

</div>


<script>
  function animateValue(obj, start, end, duration) {
    let startTimestamp = null;
    const step = (timestamp) => {
      if (!startTimestamp) startTimestamp = timestamp;
      const progress = Math.min((timestamp - startTimestamp) / duration, 1);
      obj.innerHTML = Math.floor(progress * (end - start) + start);
      if (progress < 1) {
        window.requestAnimationFrame(step);
      }
    };
    window.requestAnimationFrame(step);
  }
  
  const obj = document.getElementsByClassName("team");
  for(var i=0; i < obj.length; i++){
    animateValue(obj[i], 0, 5, 1000);
  }

  const obj2 = document.getElementsByClassName("projects");
  for(var i=0; i < obj2.length; i++){
    animateValue(obj2[i], 60, 120, 1500);
  }
  obj2.innerHTML = String(obj2.innerHTML) + "+";
  console.log(obj2.value)

  const obj3 = document.getElementsByClassName("industry");
  for(var i=0; i < obj3.length; i++){
    animateValue(obj3[i], 0, 100, 1000);
  }

  const observerOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.7
  };
  
  function observerCallback(entries, observer) {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        // fade in observed elements that are in view
        entry.target.classList.add('fadeIn');
        entry.target.classList.remove('fadeOut');
      } else {
        // fade out observed elements that are not in view
        entry.target.classList.add('fadeOut');
        entry.target.classList.remove('fadeIn');
      }
    });
  }
  




  document.addEventListener("DOMContentLoaded", function() {
    const elements = document.querySelectorAll('.scrolling-left');


    function checkVisibility() {
        elements.forEach(function(element) {
            const rect = element.getBoundingClientRect();
            const windowHeight = (window.innerHeight || document.documentElement.clientHeight);

            // Check if the bottom of the element is in the viewport
            if (rect.bottom <= windowHeight && rect.bottom >= 0) {
                element.classList.add('visible');
            }
        });
    }

    function onScroll() {
        checkVisibility();
    }

    window.addEventListener('scroll', onScroll);

    // Initial check in case the element is already in view after a slight delay
    setTimeout(checkVisibility, 100);
});





document.addEventListener("DOMContentLoaded", function() {
  const elements = document.querySelectorAll('.scrolling-right');

  function checkVisibility() {
      elements.forEach(function(element) {
          const rect = element.getBoundingClientRect();
          const windowHeight = (window.innerHeight || document.documentElement.clientHeight);

          // Check if the bottom of the element is in the viewport
          if (rect.bottom <= windowHeight && rect.bottom >= 0) {
              element.classList.add('visible');
          }
      });
  }

  function onScroll() {
      checkVisibility();
  }

  window.addEventListener('scroll', onScroll);

  // Initial check in case the element is already in view after a slight delay
  setTimeout(checkVisibility, 100);
});

</script>
{% endblock  %}