{% extends 'base.html' %}
{% load static %}



 {% block content %}
 <style>
  .serve{
    padding: 1%;
    color: white !important;
    font-size: 11vmin;
    font-weight: bold;
  }
  #businesses{
    padding-bottom: .5%;
  }

  @keyframes textChange {
    0% {
      content: "Agriculture";
  }
  6.67% {
      content: "Auto, EV & Power Systems";
  }
  13.33% {
      content: "CG & Apparel";
  }
  20% {
      content: "Education";
  }
  26.67% {
      content: "Energy";
  }
  33.33% {
      content: "Industrial";
  }
  40% {
      content: "Metals & Mining";
  }
  46.67% {
      content: "Oil & Gas";
  }
  53.33% {
      content: "PI & PE";
  }
  60% {
      content: "Real Estate";
  }
  66.67% {
      content: "Retail";
  }
  73.33% {
      content: "Communications";
  }
  80% {
      content: "Travel & Tourism";
  }
  86.67% {
      content: "Logistics";
  }
  93.33% {
      content: "BUSINESSES";
  }
  100% {
      content: "BUSINESSES";
  }
}

#businesses::before {
    content: "Agriculture";
    animation: textChange 5s steps(15, end) forwards;
}



.mv{
  background-image: url({%static 'mission.png' %});
  background-size:100% 100%; 
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fade {
  margin: 50px;
  padding: 50px;
  background-color: lightgreen;
  transition: opacity 0.7s ease-in;
}

.centered-div {
  opacity: 0; /* Initially set opacity to 0 */
  width: 80%;
  height: auto;
  margin: 10% auto; /* Center the element */
  padding: 2%;
  background: #f58870;
  color: white;
  border-radius: 2%;
  transition: opacity 0.7s ease, transform 0.7s ease; /* Add transition for smooth fade-in/out and transform */
  transform: translateY(50px); /* Initially move the element down by 50 pixels */
}

.fadeIn {
  opacity: 85% !important; /* Ensure fade-in class overrides opacity */
  transform: translateY(0); /* Move the element back to its original position */
}

.fadeOut {
  opacity: 0 !important; /* Ensure fade-out class overrides opacity */
  transform: translateY(50px); /* Move the element down by 50 pixels to hide */
}

@media (max-width: 992px) {
  .mv{
    grid-template-columns: 1fr;
  }
}
</style>

<div>  
  <div class="main" style="background-color: #FD2D00;">
    <div class="serve">WE</div>
    <div class="serve">SERVE</div>
    <div class="serve" id="businesses"></div>
  </div>
  <div class="mv">
    <div class="centered-div fade fadeOut">
      <h1>Our Mission</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nihil rem alias sit magnam atque quaerat voluptates placeat veritatis illo repellat dignissimos nulla optio doloribus neque, ipsum quibusdam pariatur harum?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos repudiandae iusto ipsa. Neque accusantium vel a error corrupti architecto dolore sequi! Nihil ipsa obcaecati eveniet iste harum. Cumque, repudiandae eligendi.
      </p>
    </div>
    <div class="centered-div fade fadeOut">
      <h1>Our Vision</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nihil rem alias sit magnam atque quaerat voluptates placeat veritatis illo repellat dignissimos nulla optio doloribus neque, ipsum quibusdam pariatur harum?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos repudiandae iusto ipsa. Neque accusantium vel a error corrupti architecto dolore sequi! Nihil ipsa obcaecati eveniet iste harum. Cumque, repudiandae eligendi.
      </p>
    </div>
  </div>

</div>

<script>
  const observerOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.7
  };
  
  function observerCallback(entries, observer) {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        // fade in observed elements that are in view
        entry.target.classList.add('fadeIn');
        entry.target.classList.remove('fadeOut');
      } else {
        // fade out observed elements that are not in view
        entry.target.classList.add('fadeOut');
        entry.target.classList.remove('fadeIn');
      }
    });
  }
  
  const observer = new IntersectionObserver(observerCallback, observerOptions);
  
  const fadeElms = document.querySelectorAll('.fade');
  fadeElms.forEach(el => observer.observe(el));
  
</script>
{% endblock  %}