{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <style>
    .whatwedo {
      background-color: #121020;
      color: white;
    }
    .strategies {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 1.5em;
      padding: 0em 3em 0em 3em;
    }
    .strategy {
      border: 3px solid white;
      margin-bottom: 0 !important;
      transition: box-shadow ease-in-out 0.6s, color ease-in-out 0.5s;
      display: flex;
    }
    
    .strategy p {
      margin-bottom: 0 !important;
      align-items:center; 
      justify-content:center; 
    }
    
    [class^='hover-'] {
      display: none;
    }
    
    [id^='strategy']:hover .initial-1,
    [id^='strategy']:hover .initial-2,
    [id^='strategy']:hover .initial-3,
    [id^='strategy']:hover .initial-4,
    [id^='strategy']:hover .initial-5 {
      display: none;
    }
    
    [id^='strategy']:hover .hover-1,
    [id^='strategy']:hover .hover-2,
    [id^='strategy']:hover .hover-3,
    [id^='strategy']:hover .hover-4,
    [id^='strategy']:hover .hover-5,
    [id^='strategy']:hover .hover-6 {
      display: block;
      box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent, inset 0 0 0 transparent, inset 0 0 0 transparent, 0 0 20px silver;
      color: transparent;
      font-size: medium;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .howwedo{
        display: grid;
      grid-template-columns: 0.5fr 1.5fr;
      column-gap: 2em;
 

    }

    .container {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr;
      column-gap: 10%;
    }
    
    .right-row{
      padding:10%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 5%;
    }


    .rightrowelements{
      color:white;
      font-weight: bolder;
      font-size: 1.15em;
      height: 80%;
      transition: transform 0.2s;
    }

    .rightrowelements:hover{
      transform: scale(1.1);
    }

    .button-28 {
      appearance: none;
      background-color: transparent;
      border: 2px solid #0d6efd;
      border-radius: 15px;
      box-sizing: border-box;
      color: #0d6efd;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      will-change: transform;
    }

    .carousel-text{
      margin-left: 8%; 
      display:grid; 
      grid-template-columns: 0.5fr 1.5fr; 
      column-gap: 2em;
    }
    
    .button-28:disabled {
      pointer-events: none;
    }
    
    .button-28:hover {
      color: #fff;
      background-color: #9BC8F7;
      border-color: #9BC8F7;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    
    .button-28:active {
      box-shadow: none;
      transform: translateY(0);
    }
    
    @media (max-width: 992px) {
      .strategies {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1.5em;
      }
      [class^='initial-'] {
        padding: 8%;
      }

      .howwedo, .container, .carousel-text{
        grid-template-columns: none;
        grid-template-rows: auto auto;
      }

      .right-row{
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        margin-bottom: 0;
      }

      .ctop{
        margin-top: 10% !important;
        margin-left: 0 !important;
      }

      .firstrow{
        margin-bottom: -19%;
      }
    }
  </style>

  <div class="indexbody" style="margin-top: 5%;">
    <div class="whatwedo">
      <p></p>
      <div style="font-size: 3em; padding:5% 1% 1% 5%; font-weight: bolder;">WHAT WE ARE GOOD AT</div>
      <p style="padding: 1% 1% 1% 5%; font-size: 1.2em; font-style: italic;">We excel at providing tailored corporate finance/M&A, strategic planning, intellectual property, and growth advisory solutions, along with strategic investments, to empower businesses for lasting success.</p>

      <div class="strategies">
        <div class="strategy" id="strategy1">
          <p style="font-size: 1.5em; text-align: center;padding: 15% 8% 8% 8%; font-weight: bold;" class="initial-1">INVESTMENT ADVICE AND CO-INVESTMENT</p>
          <p style="background-color: #7fcdd6; padding:4%; color:black; font-style: italic;" class="hover-1">It's not just about making investments; you need expert guidance and strategic co-investment partnerships to maximize your financial potential and achieve long-term success.</p>
        </div>
        <div class="strategy" id="strategy2">
            <p style="font-size: 1.5em; text-align: center;padding: 20% 8% 8% 8%; font-weight: bold;" class="initial-2">STRATEGY, SUPPORT, AND FACILITATION</p>
          <p style="background-color: #ee9496; padding:15%; color:black; font-style: italic;" class="hover-2">It's not just about having a vision; you also need the right strategy and support to bring it to life successfully.</p>
     
        </div>
        <div class="strategy" id="strategy3">
            <p style="font-size: 1.25em; text-align: center;padding: 8%; font-weight: bold;" class="initial-3">CORPORATE FINANCE, FINANCING, AND MERGER AND ACQUISITION SUPPORT</p>
            <p style="background-color: #e2d197; padding:4%; color:black; font-style: italic;" class="hover-3">From strategic financial guidance to bespoke M&A solutions, we provide diverse Corporate Finance, Financing, and 
                Merger and Acquisition Support tailored to your unique business needs.</p>
       
        </div>
        <div class="strategy" id="strategy4">
            <p style="font-size: 1.5em; text-align: center;padding: 20% 8% 8% 4%; font-weight: bold;" class="initial-4">INTELLECTUAL PROPERTY AND STRATEGY</p>
            <p style="background-color: #ee9496; padding:4%; color:black; font-style: italic;" class="hover-4">To safeguard your innovations, you need more than just ideas. We fortify your intellectual property with strategic protection and unwavering defence, ensuring your creations thrive and endure.</p>
       
        </div>
        <div class="strategy" id="strategy5">
            <p style="font-size: 1.5em; text-align: center;padding: 15% 8% 8% 8%;font-weight: bold;" class="initial-5">GROWTH STRATEGY - ORGANIC AND INORGANIC</p>
            <p style="background-color: #7fcdd6; padding:15%; color:black; font-style: italic;" class="hover-5">Seamlessly Blending Organic and Inorganic Strategies for Sustainable Business Expansion.</p>
       
        </div> <p></p>
      </div>
    </div>


    <div class="howwedo">
        <div style="font-size: 5em; padding:15% 1% 1% 20%; font-weight: bolder; line-height: 90%; color:#429eff">HOW WE DO IT</div>
       
        <div id="stepsCorousel" class="carousel slide" data-bs-ride="carousel" style="margin:2%; padding:3%;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-text">
                  <div>
                    <h1 style="font-variant-numeric: tabular-nums; font-size: 10em; font-weight: 900; color:#047eff">
                        1
                    </h1>
                    <h3 style="z-index: 1; margin-top: -28%; margin-left: 13%; font-weight: bold; font-size: 2em; line-height: 95%;">COMPREHENSIVE ANALYSIS</h3>
                    </div>
                  <div class="ctop" style="margin-top: 35%; margin-left: -15%; font-size: 1.25em;">
                    <ul style="font-style: italic;list-style-type: '\2192   ';">
                        <li>Conduct an in-depth analysis of the client's current 
                            financial status, market positioning, and growth goals.</li>
                            <li> Evaluate investment opportunities, financial resources, and risk tolerance 
                                for tailored investment advice and co-investment strategies.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-text">
                    <div>
                        <h1 style="font-variant-numeric: tabular-nums; font-size: 12em; font-weight: 900; color:#047eff">
                            2
                        </h1>
                        <h3 style="z-index: 1; margin-top: -50%; margin-left: 25%; font-weight: bold; font-size: 2em; line-height: 95%;">STRATEGIC PLANNING</h3>
                        </div>
                      <div class="ctop" style="margin-top: 40%; margin-left: -6%; font-size: 1.25em;">
                        <ul style="font-style: italic;list-style-type: '\2192   ';">
                            <li>Provide hands-on support and facilitation, ensuring seamless execution of strategic initiatives.</li>
                                <li> Create detailed roadmaps for corporate finance, financing, mergers, 
                                    acquisitions, and organic/inorganic growth, emphasizing both short-term wins and long-term sustainability.

                                </li>
                        </ul>
                      </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-text">
                    <div>
                        <h1 style="font-variant-numeric: tabular-nums; font-size: 12em; font-weight: 900; color:#047eff">
                            3
                        </h1>
                        <h3 style="z-index: 1; margin-top: -45%; margin-left: 25%; font-weight: bold; font-size: 2em; line-height: 95%;">SPECIALIZED EXPERTISE</h3>
                        </div>
                      <div class="ctop" style="margin-top: 40%; margin-left: -6%; font-size: 1.25em;">
                        <ul style="font-style: italic;list-style-type: '\2192   ';">
                            <li>Offer specialized expertise in corporate finance, financing, mergers, acquisitions, and intellectual property strategies.</li>
                                <li> Develop innovative financial models and structures to optimize capital allocation and enhance shareholder value.</li>
                        </ul>
                      </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-text">
                    <div>
                        <h1 style="font-variant-numeric: tabular-nums; font-size: 12em; font-weight: 900; color:#047eff">
                            4
                        </h1>
                        <h3 style="z-index: 1; margin-top: -50%; margin-left: 25%; font-weight: bold; font-size: 2em; line-height: 95%;">CONTINUOUS OPTIMIZATION AND DEFENSE</h3>
                        </div>
                      <div class="ctop" style="margin-top: 45%; margin-left: -12%; font-size: 1.25em;">
                        <ul style="font-style: italic;list-style-type: '\2192   ';">
                            <li>Implement proactive measures to safeguard intellectual property, and monitor the market and regulatory changes to adjust strategies accordingly to mitigate risks.</li>
                                <li> Offer ongoing support for optimizing investment portfolios, refining growth strategies, and adapting to changing market dynamics. </li>
                        </ul>
                      </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#stepsCorousel" data-bs-slide="prev">
                <img src="{%static 'previousicon.png'%}" height="25%" width="25%"/>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#stepsCorousel" data-bs-slide="next">
                <img src="{%static 'nexticon.png'%}" height="25%" width="25%"/>
            </button>
          </div>
          

    </div>

  </div>
</div>

    <div class="container" style="margin-right: 0; padding-right: 0;">
        <div> 
        <p style="font-size: 5em; padding:15% 1% 1% 0%; font-weight: bolder; line-height: 90%; color:#429eff">HOW WILL YOU BENEFIT?</p>
          {% comment %} <p>Understanding the overarching trends of your business and overall market saves you time, money and energy in the long run, and can help you dominate your market.</p>
           {% endcomment %}
        </div>

      <div class="column-right" style="background-color: #9BC8F7; padding-right: 0; margin-right: 0; grid-template-rows: 1fr 1fr;">
       <div class="right-row firstrow">
        <div class="rightrowelements">&#10003; CLIENT INSIGHTS</div>
        <div class="rightrowelements">&#10003; INCREASED EFFICIENCY</div>
        <div class="rightrowelements">&#10003; IMPACTFUL INSIGHTS</div>
       </div>
       <div class="right-row">
        <div class="rightrowelements">&#10003; DATA-DRIVEN INNOVATION</div>
        <div class="rightrowelements">&#10003; STRATEGIC SYNERGY</div>
        <div class="rightrowelements">&#10003; MARKET INSIGHTS</div>
       </div>
      </div>
    </div>
   <p></p>
   <div style="text-align: center;">
    <button class="button-28" role="button" onclick="window.location.href = '{% url 'about' %}#clients'"><span class="text">See our clients</span></button>&nbsp;
    <span style="font-size: large; font-weight: bolder; color: #047eff;">OR</span> &nbsp;
    <button class="button-28" role="button" onclick="location.href = '#footer'"><span class="text">Contact us</span></button>
   </div>



  </div>

  <script>
    
  </script>
{% endblock %}
